* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.box-red, .box-green {
  width: 10rem;
  height: 10rem;
  border: 5px solid white;
}

.box-red {
  background: red;
  margin-left: 10%;
}

.box-green {
  background: green;
  margin-left: 15%;
}